/* General Body Styles */
body {
    font-family: 'Gotham', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(173, 216, 230, 0.1);
    /* Very light and transparent blue */
    color: #000;
    text-align: center;
    max-width: 3000px;
}

.container {
    max-width: 1100px;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    margin: auto;
    padding: 10px;
    margin-bottom: 30px;
}

/* Header Styles */
.header img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}


.main-title,
.customize-title,
.plan-title {
    margin-bottom: 20px;
    font-weight: bold;
    color: #303030;
    /* Uniform color for titles */
}

/* Card Styles */
.card {
    background-color: rgba(100, 149, 237, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    width: 1075px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    display: inline-block;
}

/* Toggle Button Styles */
.toggle-button {
    background-color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
    height: 40px;
    width: 80px;
    margin: 20px auto;
    position: relative;
    transition: background-color 0.2s;
}

.toggle-slider {
    background-color: rgba(30, 30, 30, 0.3);
    border-radius: 50%;
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    width: 30px;
    transition: all 0.3s;
}

.toggle-active .toggle-slider {
    left: 45px;
    background-color: #4caf50;
}

/* Button Styles */
.insure-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 20px 40px;
    font-size: 1.4em;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
    width: 80%;
}

.insure-button:hover {
    background-color: #218838;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Price and Additional Price Styles */
.price,
.additional-price,
.total-price {
    font-weight: bold;
    font-size: 1.5em;
    display: block;
    margin: 10px 0;
}

.additional-price {
    color: #303030;
}

.total-price {
    font-size: 3em;
    color: #303030;
    margin: 20px 0;
}

/* Options Container */
.options-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.card.option {
    flex: 1;
    /* Allows the cards to grow and fill the container equally */
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 1000px) {
    .options-container {
        flex-direction: column;
    }

    .card.option {
        width: 100%;
        /* Adjusts to stack vertically on smaller screens */
    }
}

.card-selected {
    background-color: #e0ffe0;
    /* Light green background for selected cards */
}


.customizePlanContainer {
    width: 100%;
}